
<div class="model fade" id="download-model" tabindex="1">
    <div class="model-dialog">
        <div class="model-content">
            <div class="model-header">
                <h3 class="model-title"> Download Data</h3>
                <button type="button" class="btn-close" data-bs-dismiss="model" aria-label="close"> 

                </button>
            </div>
            <div class="model-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{from.as_p}}
                    <button type="submit" class="btn-btn-primary"> Download </button>
                </form>
            </div>
        </div>

    </div>

</div>



